.navbar {
    margin-bottom: 0px;
}

.jumbotron {
    /* background-color: #f7e948; */
    /* background-color: #fff56c; */
    background-color: #fcf474;
    margin-bottom: 0px; 
}

.jumbotron h1 {
    color: black;
}

body {
    background-color: #704427;
}

.redTie {
    margin: auto;
    width: 0%;
    border-left: 6px solid red;
    height: 100px;
}